name: Build Portable Linux Python Packages

on:
  workflow_dispatch:
    inputs:
      artifact_github_repo:
        description: GitHub repository for artifact_run_id
        type: string
        default: ROCm/TheRock
      artifact_run_id:
        description: Workflow run ID to download artifacts from
        type: string
        default: "17865324892" # TODO: default to the most recent successful run (using a script)
      artifact_group:
        description: "The artifact group to build (ex: gfx94X-dcgpu, gfx101X-dgpu, gfx1151, gfx120X-all)"
        type: string
      package_version:
        type: string
  workflow_call:
    inputs:
      artifact_github_repo:
        type: string
      artifact_run_id:
        type: string
        default: ""
      artifact_group:
        type: string
      package_version:
        type: string
    outputs:
      package_find_links_url:
        description: URL for pip --find-links to install built packages
        value: ${{ jobs.build_rocm_wheels.outputs.package_find_links_url }}

permissions:
  contents: read

run-name: Build portable Linux Python Packages (${{ inputs.artifact_group }}, ${{ inputs.package_version }})

jobs:
  build_rocm_wheels:
    name: Build Python | ${{ inputs.artifact_group }}
    # Note: GitHub-hosted runners run out of disk space for some gpu families
    runs-on: ${{ github.repository_owner == 'ROCm' && 'azure-linux-scale-rocm' || 'ubuntu-24.04' }}
    permissions:
      id-token: write
    container:
      image: ghcr.io/rocm/therock_build_manylinux_x86_64@sha256:db2b63f938941dde2abc80b734e64b45b9995a282896d513a0f3525d4591d6cb
      options: -v /runner/config:/home/awsconfig/
    outputs:
      package_find_links_url: ${{ steps.upload.outputs.package_find_links_url }}
    env:
      AWS_SHARED_CREDENTIALS_FILE: /home/awsconfig/credentials.ini
      ARTIFACT_RUN_ID: "${{ inputs.artifact_run_id != '' && inputs.artifact_run_id || github.run_id }}"
      ARTIFACTS_DIR: "${{ github.workspace }}/artifacts"
      PACKAGES_DIR: "${{ github.workspace }}/packages"
      IS_PR_FROM_FORK: ${{ github.event.pull_request.head.repo.fork }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Python requirements
        run: pip install -r requirements.txt

      - name: Fetch artifacts
        run: |
          python ./build_tools/fetch_artifacts.py \
            --run-github-repo="${{ inputs.artifact_github_repo }}" \
            --run-id="${{ env.ARTIFACT_RUN_ID }}" \
            --artifact-group="${{ inputs.artifact_group }}" \
            --output-dir="${{ env.ARTIFACTS_DIR }}"

      - name: Build Python packages
        run: |
          python ./build_tools/build_python_packages.py \
            --artifact-dir="${{ env.ARTIFACTS_DIR }}" \
            --dest-dir="${{ env.PACKAGES_DIR }}" \
            --version="${{ inputs.package_version }}"

      - name: Configure AWS Credentials for non-forked repos
        if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::692859939525:role/therock-ci

      # NOTE: we use `github.run_id` and NOT `env.ARTIFACT_RUN_ID` here!
      # This ensures that if they are different we _download_ artifacts from the
      # input run's subdirectory and _upload_ to our current run's subdirectory.
      - name: Upload Python packages
        id: upload
        run: |
          python build_tools/github_actions/upload_python_packages.py \
            --input-packages-dir="${{ env.PACKAGES_DIR }}" \
            --artifact-group="${{ inputs.artifact_group }}" \
            --run-id="${{ github.run_id }}"
