name: Build Windows Python Packages

on:
  workflow_dispatch:
    inputs:
      artifact_github_repo:
        description: GitHub repository for artifact_run_id
        type: string
        default: ROCm/TheRock
      artifact_run_id:
        description: Workflow run ID to download artifacts from
        type: string
        default: "17865324892" # TODO: default to the most recent successful run (using a script)
      artifact_group:
        description: "The artifact group to build (ex: gfx94X-dcgpu, gfx101X-dgpu, gfx1151, gfx120X-all)"
        type: string
      package_version:
        type: string
  workflow_call:
    inputs:
      artifact_github_repo:
        type: string
      artifact_run_id:
        type: string
        default: ""
      artifact_group:
        type: string
      package_version:
        type: string
    outputs:
      package_find_links_url:
        description: URL for pip --find-links to install built packages
        value: ${{ jobs.build_rocm_wheels.outputs.package_find_links_url }}

permissions:
  contents: read

run-name: Build Windows Python Packages (${{ inputs.artifact_group }}, ${{ inputs.package_version }})

jobs:
  build_rocm_wheels:
    name: Build Python | ${{ inputs.artifact_group }}
    runs-on: ${{ github.repository_owner == 'ROCm' && 'azure-windows-scale-rocm' || 'windows-2022' }}
    permissions:
      id-token: write
    outputs:
      package_find_links_url: ${{ steps.upload.outputs.package_find_links_url }}
    env:
      ARTIFACT_RUN_ID: "${{ inputs.artifact_run_id != '' && inputs.artifact_run_id || github.run_id }}"
      ARTIFACTS_DIR: "${{ github.workspace }}/artifacts"
      PACKAGES_DIR: "${{ github.workspace }}/packages"
      IS_PR_FROM_FORK: ${{ github.event.pull_request.head.repo.fork }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.12'

      - name: Install Python requirements
        run: pip install -r requirements.txt

      - name: Install AWS CLI
        # The first two lines removes the default commmunity feed and uses the internal proxy feed
        run: |
          choco source disable -n=chocolatey
          choco source add -n=internal -s http://10.0.167.96:8081/repository/choco-group/ --priority=1
          choco install --no-progress -y awscli
          echo "$PATH;C:\Program Files\Amazon\AWSCLIV2" >> $GITHUB_PATH

      - name: Fetch artifacts
        run: |
          python ./build_tools/fetch_artifacts.py \
            --run-github-repo="${{ inputs.artifact_github_repo }}" \
            --run-id="${{ env.ARTIFACT_RUN_ID }}" \
            --artifact-group="${{ inputs.artifact_group }}" \
            --output-dir="${{ env.ARTIFACTS_DIR }}"

      - name: Build Python packages
        run: |
          python ./build_tools/build_python_packages.py \
            --artifact-dir="${{ env.ARTIFACTS_DIR }}" \
            --dest-dir="${{ env.PACKAGES_DIR }}" \
            --version="${{ inputs.package_version }}"

      - name: Configure AWS Credentials for non-forked repos
        if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::692859939525:role/therock-ci
          special-characters-workaround: true

      # NOTE: we use `github.run_id` and NOT `env.ARTIFACT_RUN_ID` here!
      # This ensures that if they are different we _download_ artifacts from the
      # input run's subdirectory and _upload_ to our current run's subdirectory.
      - name: Upload Python packages
        id: upload
        run: |
          python build_tools/github_actions/upload_python_packages.py \
            --input-packages-dir="${{ env.PACKAGES_DIR }}" \
            --artifact-group="${{ inputs.artifact_group }}" \
            --run-id="${{ github.run_id }}"
