name: Publish no_rocm_image_ubuntu24_04 images
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'stage/docker/**'
    paths:
      - dockerfiles/no_rocm_image_ubuntu24_04*.Dockerfile
      - .github/workflows/publish_no_rocm_image_ubuntu24_04.yml

permissions:
  contents: read
  packages: write

jobs:
  publish_no_rocm_image_ubuntu24_04:
    uses: ./.github/workflows/publish_dockerfile.yml
    with:
      DOCKER_FILE_NAME: no_rocm_image_ubuntu24_04
      DOCKER_IMAGE_NAME: no_rocm_image_ubuntu24_04
  # The image no_rocm_image_ubuntu24_04_rocgdb is an extension of
  # no_rocm_image_ubuntu24_04, so make sure we rebuild the _rocgdb
  # version whenever the base version changes.
  publish_no_rocm_image_ubuntu24_04_rocgdb:
    needs: [publish_no_rocm_image_ubuntu24_04]
    uses: ./.github/workflows/publish_dockerfile.yml
    with:
      DOCKER_FILE_NAME: no_rocm_image_ubuntu24_04_rocgdb
      DOCKER_IMAGE_NAME: no_rocm_image_ubuntu24_04_rocgdb
