name: TMP - Release portable Linux packages

on:
  # Trigger from another workflow (typically to build dev packages and then test them)
  workflow_call:
    inputs:
      release_type:
        description: The type of release to build ("nightly", or "dev")
        type: string
        default: "dev"
      package_suffix:
        type: string
      s3_subdir:
        description: "Subdirectory to push the Python packages"
        type: string
        default: "v2"
  # Trigger manually (typically to test the workflow or manually build a release [candidate])
  workflow_dispatch:
    inputs:
      release_type:
        description: The type of release to build ("nightly", or "dev")
        type: string
        default: "rc"
      package_suffix:
        type: string
      s3_subdir:
        description: "Subdirectory to push the Python packages"
        type: string
        default: "v2"
      families:
        description: "Comma separated list of AMD GPU families, e.g. `gfx94X,gfx103x`"
        type: string
  # Trigger on a schedule to build nightly release candidates.
  schedule:
    # Runs at 11:00 AM UTC, which is 3:00 AM PST (UTC-8)
    - cron: '0 11 * * *'

permissions:
  contents: read

jobs:
  setup_metadata:
    if: ${{ github.repository_owner == 'ROCm' || github.event_name != 'schedule' }}
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.release_information.outputs.version }}
      package_targets: ${{ steps.configure.outputs.package_targets }}
      release_type: ${{ inputs.release_type || 'nightly' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.12

      # Compute version suffix based on inputs (default to 'nightly' for scheduled)
      - name: Set variables for nightly release
        if: ${{ inputs.release_type == 'nightly' || inputs.release_type == '' }}
        run: |
          version_suffix="$(printf 'rc%(%Y%m%d)T')"
          echo "version_suffix=${version_suffix}" >> $GITHUB_ENV

      - name: Set variables for development release
        if: ${{ inputs.release_type == 'dev' }}
        run: |
          version_suffix=".dev0+${{ github.sha }}"
          echo "version_suffix=${version_suffix}" >> $GITHUB_ENV

      - name: Generate release information
        id: release_information
        run: |
          base_version=$(jq -r '.["rocm-version"]' version.json)
          echo "version=${base_version}${version_suffix}" >> $GITHUB_OUTPUT

      - name: Generating package target matrix
        id: configure
        env:
          AMDGPU_FAMILIES: ${{ inputs.families }}
          PYTORCH_DEV_DOCKER: "false"
          THEROCK_PACKAGE_PLATFORM: "linux"
        run: python ./build_tools/github_actions/fetch_package_targets.py

  portable_linux_packages:
    name: ${{ matrix.target_bundle.amdgpu_family }}::Build Portable Linux
    runs-on: ${{ github.repository_owner == 'ROCm' && 'azure-linux-scale-rocm' || 'ubuntu-24.04' }}
    needs: [setup_metadata]
    permissions:
      contents: write
      actions: write # Added permission to trigger workflows
      id-token: write # Added permission for AWS S3 upload
    strategy:
      fail-fast: false
      matrix:
        target_bundle: ${{ fromJSON(needs.setup_metadata.outputs.package_targets) }}
    env:
      TEATIME_LABEL_GH_GROUP: 1
      OUTPUT_DIR: ${{ github.workspace }}/output
      BUILD_IMAGE: ghcr.io/rocm/therock_build_manylinux_x86_64@sha256:044b113562629f4bd2ec5d2e64b32eee11562d48fb1a75d7493daec9dd8d8292
      DIST_ARCHIVE: "${{ github.workspace }}/output/therock-dist-linux-${{ matrix.target_bundle.amdgpu_family }}${{ inputs.package_suffix }}-${{ needs.setup_metadata.outputs.version }}.tar.gz"
      FILE_NAME: "therock-dist-linux-${{ matrix.target_bundle.amdgpu_family }}${{ inputs.package_suffix }}-${{ needs.setup_metadata.outputs.version }}.tar.gz"
      RELEASE_TYPE: "${{ needs.setup_metadata.outputs.release_type }}"
      S3_BUCKET_TAR: "therock-${{ needs.setup_metadata.outputs.release_type }}-tarball"
      S3_BUCKET_PY: "therock-${{ needs.setup_metadata.outputs.release_type }}-python"
      S3_SUBDIR: ${{ inputs.s3_subdir || 'v2' }}

    steps:
      - name: Hello
        run: echo "Hello"


  pytorch_linux_packages:
    if: ${{ inputs.release_type == 'nightly' || inputs.release_type == '' }}
    needs: [setup_metadata, portable_linux_packages]
    strategy:
      fail-fast: false
      matrix:
        AMDGPU_FAMILIES: ${{ fromJSON(needs.setup_metadata.outputs.package_targets) }}
        # AMDGPU_FAMILIES: ["gfx94X-dcgpu", "gfx110X-dgpu", "gfx120X-all "]
        python_version: ["cp311-cp311", "cp312-cp312"]

    uses: ./.github/workflows/tmp_whl.yml
    with:
      AMDGPU_FAMILIES: ${{ matrix.AMDGPU_FAMILIES }}
      python_version: ${{ matrix.python_version }}
      release_type: 'nightly'
      s3_subdir: ${{ inputs.s3_subdir || 'v2' }}
      cloudfront_url: ${{ 'd2awnip2yjpvqn.cloudfront.net' }}
      cloudfront_subdir: ${{ inputs.s3_subdir || 'v2' }}
      rocm_version: ${{ needs.setup_metadata.outputs.version }}
